body {
	padding: 0;
	margin: 0;
	background: #1e2739;
	font-family: futura md bt;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px 0%;
	background: #00abc2;
}

.logo {
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	margin-left: 25px;
	margin-top: 20px;
}

nav ul li {
	list-style: none;
	display: inline-block;
	padding: 10px 25px;
}

nav ul li a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

nav ul li a:hover {
	color: #ffcd00;
	transition: .5s;
}

.alv {
	color: #ffcd00;
	text-decoration: none;
	font-weight: bold;
	padding: 10px 25px;
	text-align: center;
}

.content {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0.1px;
	display: flex;
}

.isi-content {
	margin:50px 50px;
	width: 50%;
	padding: 5px;
	display: inline-block;
	text-align: left;
	color: white;
}

.tombol{
	background-color: #8200ab;
	text-decoration:none;
	font-weight: bold;
	padding:10px;
	color:white;
	border-radius:25px;
}

.tombol:hover{
	color: #ffcd00;
	transition:.5s;
}

.photo {
	width:100%;
	height: 100%;
	margin: 0 auto;
	border: 1px solid #00abc2
}

.footer{
	text-align:center;
	background-color: #8200ab;
	padding: 1px;
	color: white;
	font-weight: bold;
}

.tentang {
	align-items: center;
	text-align: center;
}

.inner-content {
	display: inline-block;
	top: 10%;
	margin: 0 auto;
	color: white;
}

.exp {
	display: block;
	align-items: center;
}

.exp-content {
	margin-left: 75px;
}

.line {
	border-left: 3px solid #ffcd00;
	height: 50px;
	margin: 0 10px;
	z-index: 10;
}

.contents{
	heightL:100%;
	width: 100%;
	position:absolute;
	vertical-align: center;
	z-index:1;
	align-items: center;
	margin:0 auto;
	display: flex;
}

.container {
	max-width: auto;
	margin: auto;
	background: #1e2739;
	overflow: auto;
}

.gallery {
	margin: 25px;
	border: 3px solid #00abc2;
	float: left;
	width: 390px;
	padding-bottom: 15px;
}

.gallery img {
	width: 100%;
	height: auto;
}

.desc {
	padding: 15px;
	text-align: center;
}

.desc-2 {
	align-items: center;
	position: relative;
	padding-left: 300px;
	margin-left: -145px;
	color: #ffcd00;
}

.desc-2:hover {
	color: #8200ab;
	transition: .5s;
}

.tombol-2 {
	margin:50px 50px;
	width: auto;
	padding: 10px;
	display: inline-block;
	text-decoration: none;
	text-align: left;
	color: white;
	background-color: #00abc2;
	border-radius: 25px;
}

.tombol-2:hover {
	color: #ffcd00;
	transition:.5s;
}